*{
    box-sizing: border-box;
    font-family: sans-serif;
  
}

body{
    background-color: #cccccc;
}

header{
    background-color: #120323;
    color: #97bf04;
    padding: 1rem;
    
}
header a{
    justify-content: center;
    align-items: center;
    display: flex;
}

h1{
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style:none;
    background-color: #d9043d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav li{
    display: inline;
    align-items: center;
    padding: 1rem;
}

nav li a{
    text-decoration: none;
    color: white;
    background-color: #d9043d;
}

h2{
    text-align: center;
}

#gallery-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;

}

figure{
    background-color: white;
    padding: 1rem;
}

figure img{
    border-bottom: 1rem solid #97bf04;
    max-width: 100%;
    height: auto;

}
figure:last-of-type{
    grid-column: span 2;
    display: grid;
    place-items: center;   
}

footer{
    background-color: #d9043d;
    color: white;
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width:1000px){
    #gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
}
@media screen and (max-width:767px){
    nav ul{
        margin: 0;
        padding: 0;
        list-style:none;
        display: block;
        background-color:#120323;

    
    }
    
    nav li{
        display: inline;
        align-items: center;
        padding: 1rem;
    }
    
    nav li a{
        text-decoration: none;
        color: white;
        border-color: #97bf04;
        border: 1px solid #97bf04;
        padding: 1rem;
    }

    #gallery-container {
        display: block;

    }
}